{% extends 'base.html' %}

{% block file %}
<link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block title %}
О нас
{% endblock %}

{% block body %}
<section class="u-clearfix u-container-align-center u-custom-color-13 u-section-1" id="sec-4ede">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h1 class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-1">XOXOXO</h1>
                            <p class="u-text u-text-default u-text-2">Данный сайт был разработан благодаря совместным
                                усилиям команды "XOXOXO" Лицея Академии Яндекса<br>(г. Архангельск)
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <div class="u-image u-image-circle u-image-1" alt="" data-image-width="685"
                                 data-image-height="635"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-custom-color-13 u-custom-typography u-section-2" id="sec-e79a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-custom-color-14 u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="960"
                             data-image-height="1280"></div>
                        <h5 class="u-text u-text-1">Таисия Вощикова</h5>
                        <p class="u-text u-text-2">ученица 11 класса А МБОУ Гимназия №21 имени лауреата Нобелевской
                            премии И.А. Бродского,&nbsp;<br>обучающаяся второго курса Лицея Академии Яндекса,<br>&nbsp;фронтенд-разработчик и чуть-чуть бэкенд-разработчик<br>
                        </p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-custom-color-14 u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <div alt="" class="u-image u-image-circle u-image-2" src="" data-image-width="520"
                             data-image-height="522"></div>
                        <h5 class="u-text u-text-3">Егор Юркин</h5>
                        <p class="u-text u-text-4">ученик 10 класса Б МБОУ Гимназия №3 города Архангельска имени К. П. Гемп,&nbsp;<br>
                            обучающийся второго курса Лицея Академии Яндекса,&nbsp;<br>бэкенд-разработчик<br>
                        </p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-custom-color-14 u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <div alt="" class="u-image u-image-circle u-image-3" src="" data-image-width="479"
                             data-image-height="421"></div>
                        <h5 class="u-text u-text-5">Светлана Анатольевна Токаревская</h5>
                        <p class="u-text u-text-6">преподаватель Лицея Академии Яндекса,&nbsp;<br>руководитель проекта
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}