{% extends "base.html" %}
{% block file %}
<link href="{{ url_for('static', filename='css/Найти-объект.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block body %}
<section class="u-align-center u-clearfix u-custom-color-13 u-section-1" id="sec-b182">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="main">
            <h1>Авторизация</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(class="form-control", type="email") }}<br>
                    {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-control", type="password") }}<br>
                    {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <div>{{ message }}</div>
            </form>
        </div>
    </div>
</section>
{% endblock %}